{% extends "v11.html" %}
{% block title %} Home {% endblock title %}
{% block body %}

<div class = "container">
    <p><strong> Comments</strong></p>
    {% for blog in blogs %}
<div class="my-4">
    <h3 class=" text-dark"><a href="blogpost"class = "text-dark">{{blog.title}}</a></h3>
    <div class="my-2">
    {{blog.content|slice:245}}....
    </div>
    <a href="blogpost"class = "text-dark"><button class="btn btn-primary">read more...</button></a>
</div>
{% endfor %}

</div>
{% endblock body %}