{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block body %}

<!--###############################################################-->
<!-- slides -->
<div class="container">
  <div id="carouselExampleCaptions" class="carousel slide ">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner px-1 py-1">
      <div class="carousel-item active">
        <img src="static/imgg/5.jpg" class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Demon Slayer</h5>
          <p>It is a Japanese manga series Tanjiro Kamado, a young boy who becomes a demon slayer after his family is
            slaughtered and his younger sister Nezuko is turned into a demon.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/imgg/2.jpg" class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Akaza</h5>
          <p>Akaza is a stubborn demon who respects the strong and despises the weak.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/imgg/1.png" class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Kyojuro Rengoku</h5>
          <p>As a Hashira of the Demon Slayer Corps, Kyojuro was a very powerful and skilled combatant.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- ------------------------------------------------------------------------------------------------------gg -->

  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/imgg/1.png" class="d-block w-100 px-0" alt="..." width="100%" height="225"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect>
          <h1 class="text-center" style="font-size:22px;">Kyojuro Rengoku</h1></svg>
          <div class="card-body">
            <p class="card-text"><strong>Kyojuro Rengoku</strong> is a Hashira of the Demon Slayer Corps, Kyojuro was a
              very powerful and skilled combatant.</p>
            <div class="text-center">
              <div class="btn-group">
                <a class="btn btn-primary" type="submit" href="v">View</button></a>

              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <img src="static/imgg/2.jpg" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect>
          <h1 class="text-center" style="font-size:22px;">Akaza</h1></svg>
          <div class="card-body">
            <p class="card-text"><strong>Akaza</strong> is one of the 12 Kizuki. He is a stubborn demon who respects the
              strong and despises the
              weak.</p>
            <div class="text-center">
              <div class="btn-group">
                <a button class="btn btn-primary" type="submit" href="v2">View</button></a>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/imgg/1311137.png" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect>
          <h1 class="text-center" style="font-size:22px;">Kokushibo</h1></svg>
          <div class="card-body">
            <p class="card-text"><strong>Kokushibo</strong> is a major antagonist in Demon Slayer and a member of the
              Twelve Kizuki, holding the position of Upper Rank One.</p>
            <div class="text-center">
              <div class="btn-group">
                <a button class="btn btn-primary" type="submit" href="v3">View</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col">
        <div class="card shadow-sm">
          <img src="static/imgg/1337465.png" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect>
          <h1 class="text-center" style="font-size:22px;">Zenitsu</h1></svg>
          </svg>
          <div class="card-body">
            <p class="card-text">Zenitsu is a powerful Demon Slayer and a member of the Demon Slayer Corps. Although he
              was originally roped into joining the
              Corps by his mentor Jigoro Kuwajima, Zenitsu later realizes the importance of the Demon Slayer Corps.</p>
            <div class="text-center">
              <div class="btn-group">
                <a button class="btn btn-primary" type="submit" href="v4">View</button></a>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    {% if blogs %}
    {% for blog in blogs %}
    <div class="alert alert-success alert-dismissible fade show my-0" role="alert">
      <strong>DONE Your comment has been updated.</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}


    {% endblock body %}